name: Build, Test, Deploy to k8s

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - 'k8s/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build, test and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Install Protocol Buffers Compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler
          protoc --version
      - name: Build and test code
        run: |
          cargo build --verbose
          cargo test --verbose
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push the Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          tags: ghcr.io/dilaz/kvstore:${{ github.sha }},ghcr.io/dilaz/kvstore:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Update Kubernetes manifests
        run: |
          sed -i "s|image: ghcr.io/dilaz/kvstore:.*|image: ghcr.io/dilaz/kvstore:${{ github.sha }}|g" k8s/deployment-grpc.yaml
          sed -i "s|image: ghcr.io/dilaz/kvstore:.*|image: ghcr.io/dilaz/kvstore:${{ github.sha }}|g" k8s/deployment-http.yaml
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "ci: update image tag to ${{ github.sha }}"
          branch: master
          file_pattern: k8s/*.yaml